GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=https://safemind-backend-m98e.onrender.com/api/auth/google/callback
JWT_SECRET=wGjT-fK_Z-qB-sE-vY-mR-uH-nL-pC-aD-xJ-iV-oA-eF
JWT_ALGORITHM=HS256
DATABASE_URL=postgresql://safemind_db_7qqq_user:Lxrl1Zr2AxkqwftjCKZJb2Y2kR0corA8@dpg-d4abbabe5dus73a0vnhg-a/safemind_db_7qqq

